pandas
jupyterlab
httpx
black
isort
xlsxwriter
openpyxl
fastapi
sqlalchemy
uvicorn
folium
geopandas
pytest
lxml
seaborn
wheel
more-itertools
tqdm
brotli
h3
glom
pyperclip
mutagen
requests
websockets
websocket
pedalboard
psutil
sphinx
pywin32; sys_platform == 'win32'
pillow
mapclassify
ftfy
bokeh
typer
mypy
coverage
rich 
textual
aiohttp
cherrypy
nanoid
pgeocode
pyasn1
pytz
scrapy
gracy
pyzipper
dateparser
polars