aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alabaster==1.0.0
annotated-types==0.7.0
anyio==4.6.2.post1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
autocommand==2.2.2
Automat==24.8.1
babel==2.16.0
beautifulsoup4==4.12.3
black==24.10.0
bleach==6.2.0
blinker==1.8.2
bokeh==3.6.0
boltons==24.1.0
branca==0.8.0
Brotli==1.1.0
build==1.2.2.post1
CacheControl==0.14.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
cheroot==10.0.1
CherryPy==18.10.0
cleo==2.1.0
click==8.1.7
colorama==0.4.6
comm==0.2.2
constantly==23.10.4
contourpy==1.3.0
coverage==7.6.4
crashtest==0.4.1
cryptography==43.0.3
cssselect==1.2.0
cycler==0.12.1
dateparser==1.2.0
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.9
docutils==0.21.2
dulwich==0.21.7
et_xmlfile==2.0.0
executing==2.1.0
face==24.0.0
Faker==30.8.2
fastapi==0.115.4
fastjsonschema==2.20.0
filelock==3.16.1
Flask==3.0.3
folium==0.18.0
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.5.0
ftfy==6.3.1
geopandas==1.0.1
gevent==24.10.3
glom==24.11.0
gracy==1.33.1
greenlet==3.1.1
h11==0.14.0
h3==4.1.2
httpcore==1.0.6
httpx==0.27.2
hyperlink==21.0.0
icalendar==6.0.1
idna==3.10
imagesize==1.4.1
incremental==24.7.2
iniconfig==2.0.0
installer==0.7.0
ipykernel==6.29.5
ipython==8.29.0
isoduration==20.11.0
isort==5.13.2
itemadapter==0.9.0
itemloaders==1.3.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.3.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keyring==24.3.1
kiwisolver==1.4.7
linkify-it-py==2.0.3
lxml==5.3.0
mapclassify==2.8.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.1.0
mutagen==1.47.0
mypy==1.13.0
mypy-extensions==1.0.0
nanoid==2.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
notebook_shim==0.2.4
numpy==2.1.3
openpyxl==3.1.5
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parsel==1.9.1
parso==0.8.4
pathspec==0.12.1
pedalboard==0.9.16
pexpect==4.9.0
pgeocode==0.5.0
pillow==11.0.0
pkginfo==1.11.2
platformdirs==4.3.6
pluggy==1.5.0
poetry==1.8.4
poetry-core==1.9.1
poetry-plugin-export==1.8.0
polars==1.12.0
portend==3.2.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
Protego==0.3.1
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodomex==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
PyDispatcher==2.0.7
Pygments==2.18.0
pyogrio==0.10.0
pyOpenSSL==24.2.1
pyparsing==3.2.0
PyPDF2==3.0.1
pyperclip==1.9.0
pyproj==3.7.0
pyproject_hooks==1.2.0
pytest==8.3.3
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.2
pywin32==308
pywin32-ctypes==0.2.3
pywinpty==2.0.14
PyYAML==6.0.2
pyzipper==0.3.6
pyzmq==26.2.0
queuelib==1.7.0
RapidFuzz==3.10.1
referencing==0.35.1
regex==2024.9.11
reportlab==4.2.5
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.1
scikit-learn==1.5.2
scipy==1.14.1
Scrapy==2.11.2
seaborn==0.13.2
Send2Trash==1.8.3
service-identity==24.2.0
setuptools==75.3.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.36
stack-data==0.6.3
stamina==24.3.0
starlette==0.41.2
tempora==5.7.0
tenacity==9.0.0
terminado==0.18.1
textual==0.85.2
threadpoolctl==3.5.0
tinycss2==1.4.0
tldextract==5.1.2
tomlkit==0.13.2
tornado==6.4.1
tqdm==4.66.6
traitlets==5.14.3
trove-classifiers==2024.10.21.16
Twisted==24.10.0
typer==0.12.5
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uc-micro-py==1.0.3
uri-template==1.3.0
urllib3==2.2.3
uv==0.4.29
uvicorn==0.32.0
virtualenv==20.27.1
w3lib==2.2.1
waitress==3.0.1
watchdog==6.0.0
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.1
wheel==0.44.0
XlsxWriter==3.2.0
xmltodict==0.14.2
xyzservices==2024.9.0
yarl==1.17.1
zc.lockfile==3.0.post1
zope.event==5.0
zope.interface==7.1.1
